$color-blue: #002654;
$color-white: #FFFFFF;
$color-red: #EF4135;
$color-black: #333;
$color-gold: #FFD700;
$color-green: #C8E6C9;
$color-prison: #d1c4e9;
$color-banqueroute: #ffebee;

// VARIABLES FOOTER
$primary-color: #0d47a1;
$text-color: #333;
$background-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;