{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block main %}
    <main id="home">
        <div class="container">
            <h1>Les valeurs de la République</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio similique natus vero repudiandae temporibus ad dolorum fugiat quasi aliquid inventore, vitae id vel enim corporis atque dolor voluptates distinctio rerum quibusdam qui architecto eligendi assumenda. Ut, velit recusandae distinctio nam fugiat corrupti voluptatem tempore assumenda eos similique est, doloribus eius consectetur repellat iure? Alias minima nemo voluptatum quis! Ut, a.</p>
        </div>
    </main>
{% endblock %}
