{% extends 'base.html.twig' %}

{% block main %}
    <main id="jeu">
        <div class="container">
            <h2>Bienvenue sur le jeu de Loi</h2>
            
        </div>
    </main>
{% endblock %}
